.header {
    position: relative;
    width: 100%;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-content {
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.header-img {
    width: 500px;
}

.header-img img {
    width: 100%;
}